<% extra_classes ||= '' %>
<% target ||= '.header-intro-wrapper' %>
<% offset ||= 150 %>

<span class="icon icon-page-down <%= extra_classes %> / invisible / js-scroll-indicator" title="<%= t('button.page-down') %>" data-scroll-indicator-target="<%= target %>" data-scroll-indicator-offset="<%= offset %>">
  <%# partial 'svgs/icon-arrow.svg' %>
</span>
