<meta name="description" content="We design and develop stellar web applications that solve real business problems. Nice to meet you.">
<meta property="og:type" content="business.business">
<meta property="og:url" content="http://guava.com.br">
<meta property="og:title" content="Guava — Outstanding software for the web">
<meta property="og:image" content="http://guava.com.br/images/favicons/guava-symbol.png">
<meta property="og:description" content="We design and develop stellar web applications that solve real business problems. Nice to meet you.">
<meta property="business:contact_data:street_address" content="Alfredo Coutinho Street, 74">
<meta property="business:contact_data:locality" content="Recife">
<meta property="business:contact_data:postal_code" content="52061-130">
<meta property="business:contact_data:country_name" content="Brazil">
<meta property="business:contact_data:region" content="Pernambuco">
<meta property="business:contact_data:email" content="contact@guava.com.br">
<meta property="business:contact_data:phone_number" content="+55 (81) 3265-6038">
<meta property="place:location:latitude"  content="-8.0302743">
<meta property="place:location:longitude" content="-34.9223072">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" value="@GuavaSoftware">
<meta name="twitter:site" value="@GuavaSoftware">
